/* 아래에 CSS를 작성해주세요. */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


body {
  font-family : 'Noto Sans KR';
  margin : 0;
  height : 1000px
}

.header{
  position : sticky;
  margin : 0;
  top : 0;
  left : 0;
  right : 0;
  height : 39px;
  background-color : rgba(242, 239, 234, 0.533);
  z-index : 1;
  color : rgb(133, 121, 121);
  padding: 1rem;
  letter-spacing : -3px;
  display : flex;
}

.headerfont {
  font-size : 24px;
  line-height : 39px;
}

.align-center {
text-align : center; 
}

.div-center {
  margin : auto;
}

.title {
font-size : 12px;
}

.section {
left : 0;
right : 0;
display : flex; 
flex-wrap: wrap;
justify-content : space-evenly;
}

.card {
width : 300px;
padding : 5px 10px 10px;
position : relative;
}

.image {
width : 100%;
border-radius : 1rem;
box-shadow : 3px 7px 10px rgb(195, 191, 191);
}

.tab {
text-align : left;
margin : 8px 13px 3px;
font-weight : bold;
font-size : 12px;
color : #575a5d;
}

.guide {
letter-spacing : -1.4px;
font-size : 18px;
margin : 3px 13px 0;
font-weight : 900;
}

.sentence {
letter-spacing : -1.6px;
font-size : 12px;
margin : 10px 13px 0px;
color : #93979a;
font-weight : 900;
}

.sale {
  position : absolute;
  background-color : rgba(219, 203, 203, 0.883);
  border-radius : 0.5rem;
  width: 50px;
  height : 25px;
  top : 20px;
  left : 20px;
  display : flex;
  font-size : 14px;
  align-content : center;
  justify-content : center;
}
