
.navbar-font {
  letter-spacing : -.3px;
}

.li-color {
  color: white;
  letter-spacing : -1px;
}

li:hover {
  color: #0a58ca;
}

.signup {
  color: white;
  text-decoration: none;
}

.carousel-size {
  width: 100%;
  height: 650px;
}

.button-prev {
  background-color: rgba(254, 254, 254, 0.523);
  border-radius: 3rem;
  padding-top: 55px;
}

.button-next {
  background-color: rgba(254, 254, 254, 0.523);
  border-radius: 3rem;
  padding-top: 55px;
}

.h2-font {
  letter-spacing: -1px;
  font-weight: 200;
}