{% extends 'base.html' %}
{% block content %}
  <div class="size d-flex flex-column justify-content-center align-items-center" style="text-align: center;">
    <h1>{{ firstnum }} + {{ secondnum }} = <span style="color: rgb(118, 108, 108);">{{ plusnum }}</span></h1>
    <h1>{{ firstnum }} - {{ secondnum }} = <span style="color: rgb(118, 108, 108);">{{ minusnum }}</span></h1>
    <h1>{{ firstnum }} * {{ secondnum }} = <span style="color: rgb(118, 108, 108);">{{ multiplenum }}</span></h1>
    <h1>{{ firstnum }} // {{ secondnum }} = <span style="color: rgb(118, 108, 108);">{{ dividenum }}</span></h1>
  </div>
{% endblock %}