{% extends 'base.html' %}
{% block content %}

<div class="container mx-5">
  <div class="d-flex flex-column justify-content-center align-items-baseline size">
    <h1 class="fw-light">실습 목록</h1>
    <div class="text-center my-3">
      <a href="number/3"><button class="btn btn-outline-dark"><i class="bi bi-hand-index-fill"></i> 짝수 ? 홀수 ?</button></a>
      <a href="calculate/2/4/"><button class="btn btn-outline-dark"><i class="bi bi-hand-index-fill"></i> 사칙연산</button></a>
    </div>
    <div class="text-center my-3">
      <a href="hogwart/"><button class="btn btn-outline-dark"><i class="bi bi-hand-index-fill"></i> 내 해리포터 기숙사는 ?</button></a>
      <a href="lorem/"><button class="btn btn-outline-dark"><i class="bi bi-hand-index-fill"></i> Lorem Ipsum 생성기</button></a>
    </div>
  </div>
</div>

{% endblock %}