{% extends 'base.html' %}

{% load static %}

{% block content %}

  <div class="animate__animated animate__pulse container detail-back rounded-3 px-5 pt-5 pb-4 my-5">
    <div class="text-dark">
      <h5>
        {{ detail_movie.title }}</h5>
      <h5 class="fw-light text-white">
        <i>{{ detail_movie.en_title }}</i>
      </h5>
      <div class="mt-2 text-end fw-normal">
        상영시간 :
        {{ detail_movie.running_time }}분</div>
      <hr>
      <div class="fw-normal">{{ detail_movie.summary }}</div>
    </div>
    <div class="text-end">
      <a href="{% url 'movie:edit' detail_movie.pk %}">
        <button class="btn btn-dark">수정하기</button>
      </a>
    </div>
  </div>

{% endblock content %}
