
.button-style {
  text-align: center;
  padding: .3rem .5rem;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.574);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background-color: white;
  width: 30rem;
  height: 20rem;
  text-align: center;
  border-radius: .5rem;
}

.modal-btn-style {
  display: flex;
  justify-content: end;
  margin-top: 2px;
  margin-right: 3px;
}

.active {
  display: flex;
}