* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5fa9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  border: none;
  outline: none;
  background-color: inherit;
}

input {
  border: none;
  outline: none;
}